.flights-table {
    border-collapse: collapse;
    width: 100%;
}

.flights-table td, .flights-table th {
    border: 1px solid #DDD;
    padding: 8px;
}

.flights-table tr:nth-child(even) {
    background-color: #F2F2F2;
}

.flights-table tr:hover {
    background-color: #DDD;
}

.flights-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
