form {
    margin: 16px 32px;
}

button {
    padding: 8px 16px;
    margin: 8px 0;

    border: none;

    background-color: gray;
    color: black;

    cursor: pointer;
    transition-duration: 0.2s;
}

button:hover {
    background-color: lightgray;
}

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

button.primary {
    background-color: darkorange;
    color: white;
}

button.primary:hover {
    background-color: orange;
}

button.danger {
    background-color: darkred;
    color: white;
}

button.danger:hover {
    background-color: red;
}

input {
    font-size: 16px;
    font-family: monospace;

    padding: 4px 8px;
    margin: 8px 0 12px 0;

    background-color: white;
    color: black;

    box-sizing: border-box;
    outline: none;
    border:none;
    border-bottom: 2px solid lightgray;
    border-radius: 0;

    transition-duration: 0.2s;
}

input:focus {
    border-bottom: 2px solid darkorange;
}

.input-whisper {
    color: gray;
    font-style: monospace;

    margin-top: -5px;
    margin-bottom: 10px;
}

select {
    font-size: 16px;
    font-family: monospace;

    padding: 4px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    outline: none;

    border: 2px solid lightgray;
    border-radius: 0;

    background-color: white;
    color: black;

    transition-duration: 0.2s;
}

select:focus {
    border: 2px solid darkorange;
}

label {
    font-weight: bold;
    font-size: 16px;

    margin-top: 15px;
    margin-right: 10px;
}

label.required::after {
    content: " *";
    color: red;
}
