body {
    font: 15px Verdana, Arial, sans-serif;
}

h1 {
    margin-bottom: 12px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

p {
    margin-top: 0;
}

span {
    color: orange;
}

.subheading {
    margin-top: -10px;
    opacity: 40%;
}

div.container {
    display: inline-grid;
    border: 2px solid #F2F2F2;
    padding: 12px;
    margin: 0px 32px 32px 0;
    width: max-content;
}

.container.center {
    text-align: center;
    align-content: center;
}

.container-heading {
    margin-top: 0;
}
