.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar-item {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-item:hover {
    background-color: #111;
}

.navbar-item .right {
    float: right;
}

.navbar-active {
    background-color: #04AA6D;
}

.navbar-active:hover {
    background-color: #018957;
}
