nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-item {
    float: left;
    display: block;
    padding: 14px 16px;

    color: white;

    text-align: center;
    text-decoration: none;

    transition-duration: 0.2s !important;
}

.nav-item:hover {
    background-color: black;
}

.nav-item.right {
    float: right;
}

.nav-item.active {
    background-color: darkorange;
}

.nav-item.active:hover {
    background-color: orange;
}
